form{
  position: relative;
  left : 38%;
  top : 20px;
}

.inputClass{
  width: 300px;
}
label{
  font-weight : bold;
}

.baseClass{
  margin-bottom: 10px;
}

.errorClass{
  color: red;
  font-size: 15px;
}
